body{
    font-family:sans-serif;
    background-color:rgb(144, 75, 75);
    font-size:87%;
    margin:0;

}
header h1{margin:0;}
header p{margin-top:5px;}
.guitar{
    width:100%; 
    height:800px; 
    z-index: 1; 
    margin-bottom:-510px;
}
.container{
    background-color:bisque;
    width:70%;  
    margin:0 auto 5%;
    padding:3% 3%;  
    height:auto;  
    border-radius:4px;
    z-index:2;
    position:relative;
}
.content-area{
    width:100%;
    border-top: 3px solid rgb(144, 75, 75);
    border-bottom: 3px solid rgb(144, 75, 75);
    padding:1.5% 0;

}
.mainarticle{
    width:64%;
    float:left;
    
}
aside{
    color:rgb(241, 224, 224);
    width:30%;
    margin-top:2%;
    background-color: rgb(177, 124, 124);
    border-radius: 4px;
    padding:1% 3%;
    float:right;
    box-sizing: border-box;

}
aside h4{margin-bottom:10px;}
aside ul{
    list-style-type: none; 
    padding-inline-start:0px;
font-weight:500;
margin-top:5px;}

nav ul{padding:15px 0;}
nav li{
    float:left;
    list-style-type: none;
}
nav li a{
    text-decoration: none;font-weight:700; padding:10px 20px;
    border:solid brown .5px;
    margin-right:15px;
    color:brown;
    border-radius:4px;
}
nav li a:hover{background-color: rgb(116, 43, 43); color:white;}
.clearfloat{
    clear:both;
}
footer{text-align:center; padding-top:1%;}
.fix {
    clear: both;
  }
  
  .group:before,
  .group:after {
    content: "";
    display: table;
  }
  
  .group:after {
    clear: both;
  }
  
  .group {
    zoom: 1;
  }